page-record-trail {

  .record-trail-img{
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
  }

  .record-trail-btn{
    background-color: #007aff;
    height: 30px;
    font-size: 10px;
    text-transform: none;
  }

  .record-trail-circle-icon{
    /*margin-right: 15px;
    margin-top: 5%;
    width: 30px;
    float: right;*/
    margin-right: 15px;
    margin-top: 10%;
    width: 30px;
  }

  .record-btn {
    background: url('../assets/images/recordtrail/circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    height: 30px;
    width: 30px;
    margin-top: 4px;
  }



}
