page-my-trails {

  .trails-all-row{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .trails-card-image{
    width: 100%;
    height: 50%;
    /*padding: 5px;*/
    position: relative;
    overflow: hidden;
  }

}
