page-setting {

  .setting-main-row{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .setting-line-div{
    background-color: #ECEFF4;
    width: 100%;
    height: 1px;
  }

  .setting-option-row{
    font-size: 10px;
    margin-top: 3px;
    color: gray;
  }

  .save-btn{
    margin-top: 5%;
    width: 50%;
    margin-left: 3%;
    margin-bottom: 5%;
    color: white;
    text-transform: none;
  }
}
