page-newsfeed {

  .feed-title{
    font-weight: bold;
    color: gray;
    font-size: 10px;
  }

  .feed-time{
    font-size: 9px;
    color: gray;
  }

  .feed-image{
    width: 100%;
    height: 50%;
    position: relative;
    overflow: hidden;
  }
  .feed-main-row{
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
  }

  .feed-all-row{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
