page-uploaded-trails {

  .uploaded-trails-all-row{
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .uploaded-trails-card-image{
    width: 100%;
    height: 50%;
    /*padding: 5px;*/
    position: relative;
    overflow: hidden;
  }
  .uploaded-trails-blue-div{
    background-color: #007aff;
    border-radius: 5px;
    height: 30px;
    width: 45%;
    margin: 7px 0 7px 0;
  }

  .edit-btn{
    text-transform: none;
    background-color: #2ec95c;
    font-size: 12px;
    width: 95%;
    height: 28px;
  }
  .delete-btn{
    text-transform: none;
    font-size: 12px;
    width: 95%;
    margin-left: 10px;
    background-color: #EF4E37;
    height: 28px;
  }
}
